@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$headerFont: 'Roboto';
$mainFont: 'Neucha';
$lightColor: #D1E0E2;
$darkColor: #1c4971;
$footerHeight: 40px;